.App {
  text-align: center;
  margin-top: 20px;
}

.productos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.producto {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contador {
  margin: 10px 0;
}

.contador button {
  padding: 5px 10px;
}

.precios {
  margin: 10px 0;
  font-size: 16px;
}
